<mat-toolbar color="primary" style="position: sticky; top: 0; z-index: 10;">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sindenavOpenClose()">
      <mat-icon>menu</mat-icon>
    </button>

    <button mat-button routerLink="" (click)="opened = false"><h1>Monny</h1></button>
    
    <span style="flex: 1 1 auto;"></span>
    
    <button mat-button routerLink="account-page">
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" [(opened)]="opened" style="width: 275px; padding-top: 65px;">
    <mat-nav-list>
      <a mat-list-item routerLink="expense-page" (click)="opened = false"><mat-icon>local_atm</mat-icon> Expenses</a>
      <a mat-list-item routerLink="statistic-page" (click)="opened = false"><mat-icon>trending_up</mat-icon> Statistic</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="about-page" (click)="opened = false"><mat-icon>help_outline</mat-icon>About</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="padding-top: 65px">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>