.ripple-container{
    cursor: pointer;
  /* text-align: center; */
  /* margin: 20px; */
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}
mat-icon{
    margin-right: 10px;
}