<div style="margin-left: 15%; margin-right: 15%;">
    <div style="margin-top: 30px;">
        <mat-form-field>
            <mat-label>Choose start date</mat-label>
            <input matInput [matDatepicker]="picker1" [max]="currentDate" [formControl]="date1">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field style="margin-left: 20px;">
            <mat-label>Choose end date</mat-label>
            <input matInput [matDatepicker]="picker2" [max]="currentDate" [formControl]="date2">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <button mat-button style="margin-left: 20px;" (click)="createChart()">Show statistic</button>
    </div>
    <h2 *ngIf="noExpenses">There are no expenses for this period.</h2>
    <div>
        <canvas id='myChart'></canvas>
    </div>
</div>